# Ne JAMAIS versionner les .env ni les modules Node
.env
.env.*
*.env
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
**/*.log

# Mac & Windows
.DS_Store
Thumbs.db

# Build/output
/build/
dist/
coverage/

# Ignore les fichiers sensibles de VSCode ou IDE
.vscode/
.idea/
